<!DOCTYPE html>
<html lang="en">
    <head>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MEATEATER</title>
        <!-- 
         - Favicon
        -->
        <link rel="icon" href="../../assets/images/favicon.ico" type="image/svg+xml">
        <!-- 
         - Custom css link
         -->
         <link rel="stylesheet" href="../../assets/css/main.css">
         <link rel="stylesheet" href="../../assets/css/home.css">
         <link rel="stylesheet" href="../../assets/css/cart.css">
        <!--
         - Google font link 
         -->
         <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet">
    </head>
<body>

     <!-- 
     - #HEADER
     -->

     <header class="header" data-header>

        <div class="top-bar">
            <div class="container">
                <p>Free shiping for all order above 50$</p>
            </div>
        </div>
        
        <div class="nav-wrapper" >
            <div class="container">
                <h1 class="h1">
                    <a href="./index.php" class="logo">M<span class="span">EAT</span></a>
                    <a href="./index.php" class="logo">EAT<span class="span">ER</span></a>
                </h1>
                <div class="menu-wrapper">
                    <button class="nav-open-btn" aria-label="Open Menu" data-nav-toggle-btn>
                        <ion-icon class="menu-icon" name="menu-outline"></ion-icon>
                        <ion-icon class="close-icon" name="close-outline"></ion-icon>
                    </button>
                <nav class="navbar" data-navbar>
                    <ul class="navbar-list">
                        <li>
                            <a href="./index.php" class="navbar-link active">Home</a>
                        </li>
                        <li>
                            <a href="./index.php" class="navbar-link">About</a>
                        </li>
                        <li>
                            <a href="./index.php" class="navbar-link">Shop</a>
                        </li>
                        <li>
                            <a href="./index.php" class="navbar-link">Blog</a>
                        </li>
                        <li>
                            <a href="./index.php" class="navbar-link">Products</a>
                        </li>
                        <li>
                            <a href="./index.php" class="navbar-link">Contact</a>
                        </li>
                    </ul>
                    <div class="navbar-wrapper">
                        <a href="sign_in.php" class="btn btn-fill">Login</a>
                    </div>
                </nav>
                </div>

            <div class="header-action">

                <div class="search-wrapper" data-search-wrapper>
                    <button class="header-action-btn" data-search-btn>
                        <ion-icon name="search-outline" class="search-icon"></ion-icon>
                    </button>

                    <div class="input-wrapper">
                        <input type="search" name="search" placeholder="Search here" class="search-input">

                        <button class="search-submit" aria-label="Submit search">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </div>
                </div>
                <div class="whishlist-wrapper">
                    <button class="header-action-btn whishlist" aria-label="Open whishlist" data-panel-btn="whishlist">
                        <ion-icon class="heart-outline" name="heart-outline"></ion-icon>
                        <ion-icon class="heart" name="heart"></ion-icon>
                        <data value="3" class="btn-badge">03</data>
                    </button>
                    <div class="side-panel whishlist" data-side-panel="whishlist">
                        <ul class="panel-list">
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-1.png" width="46" height="46" loading="lazy" alt="seafood 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Seafood 1</p>
                                        <span class="item-value">12$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-2.png" width="46" height="46" loading="lazy" alt="meat 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Meat 1</p>
                                        <span class="item-value">10$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-3.png" width="46" height="46" loading="lazy" alt="fried chicken 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Fried Chicken 1</p>
                                        <span class="item-value">9.3$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                        </ul>
                        <div class="subtotal">
                            <p class="subtotal-text">Subtotal:</p>
                            <data value="696" class="subtotal-value">
                                696$
                            </data>
                        </div>
                        <a href="./whishlist.html" class="panel-btn btn btn-fill">View Whishlist</a>
                    </div>
                </div>
                <div class="cart-wrapper">
                    <button class="header-action-btn cart" aria-label="Open shopping cart" data-panel-btn="cart">
                        <ion-icon class="basket-outline" name="basket-outline"></ion-icon>
                        <ion-icon class="basket" name="basket"></ion-icon>
    
                        <data value="2" class="btn-badge">02</data>
                    </button>
                    <div class="side-panel cart" data-side-panel="cart">
                        <ul class="panel-list">
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-1.png" width="46" height="46" loading="lazy" alt="seafood 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Seafood 1</p>
                                        <span class="item-value">12$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-2.png" width="46" height="46" loading="lazy" alt="meat 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Meat 1</p>
                                        <span class="item-value">10$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                            <li class="panel-item">
                                <a href="./product-details.html" class="panel-card">
                                    <figure class="item-banner">
                                        <img src="../../assets/images/food-menu-3.png" width="46" height="46" loading="lazy" alt="fried chicken 1">
                                    </figure>
            
                                    <div>
                                        <p class="item-title">Fried Chicken 1</p>
                                        <span class="item-value">9.3$</span>
                                        <span class="item-amount">x1</span>
                                    </div>
                                </a>
                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                        </ul>
                        <div class="subtotal">
                            <p class="subtotal-text">Subtotal:</p>
                            <data value="696" class="subtotal-value">
                                696$
                            </data>
                        </div>
                        <a href="./cart.html" class="panel-btn btn btn-fill">View Cart</a>
                    </div> 
                </div>
            </div>
            </div>
        </div>

    </header>


    <main>
        <article>

           <!--
           - #SHOPING CART
           -->

           <section class="section shopping-cart">
            <div class="container">
                <h1 class="heading">
                    <ion-icon name="cart-outline"></ion-icon> Shopping Cart
                </h1>

                <div class="section-wrapper">

                <!-- Cart -->

                <div class="cart">

                    <div class="cart-item-box">

                        <h2 class="section-heading">Order Summary</h2>

                        <ul class="product-list">

                            <li class="product-item">

                                <figure class="item-banner">
                                    <img src="../../assets/images/food-menu-1.png" width="80" alt="">
                                </figure>

                                <div class="detail">

                                    <h3 class="item-title">Seafood 1</h4>

                                    <div class="wrapper">

                                        <div class="product-quantity">
                                            <button id="decrease">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>

                                            <span id="quantity">1</span>

                                            <button id="increase">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>

                                        <div class="product-price">
                                            $<span id="price">1.25</span>
                                        </div>
                                    </div>
                                </div>

                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>

                            <li class="product-item">

                                <figure class="item-banner">
                                    <img src="../../assets/images/food-menu-1.png" width="80" alt="">
                                </figure>

                                <div class="detail">

                                    <h3 class="item-title">Seafood 1</h4>

                                    <div class="wrapper">

                                        <div class="product-quantity">
                                            <button id="decrease">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>

                                            <span id="quantity">1</span>

                                            <button id="increase">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>

                                        <div class="product-price">
                                            $<span id="price">1.25</span>
                                        </div>
                                    </div>
                                </div>

                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>

                            <li class="product-item">

                                <figure class="item-banner">
                                    <img src="../../assets/images/food-menu-1.png" width="80" alt="">
                                </figure>

                                <div class="detail">

                                    <h3 class="item-title">Seafood 1</h4>

                                    <div class="wrapper">

                                        <div class="product-quantity">
                                            <button id="decrease">
                                                <ion-icon name="remove-outline"></ion-icon>
                                            </button>

                                            <span id="quantity">1</span>

                                            <button id="increase">
                                                <ion-icon name="add-outline"></ion-icon>
                                            </button>
                                        </div>

                                        <div class="product-price">
                                            $<span id="price">1.25</span>
                                        </div>
                                    </div>
                                </div>

                                <button class="item-remove-btn">
                                    <ion-icon name="close-outline"></ion-icon>
                                </button>
                            </li>
                        </ul>

                    </div>

                    <div class="total-wrapper">

                        <div class="discount-token">
                             
                            <label for="token" class="label-default">Gift card/Discount
                                code
                            </label>

                            <div class="discount-wrapper">
                                <input type="text" name="discount-token" class="input-field">
                                <button class="btn btn-fill">Apply</button>
                            </div>
                        </div>

                        <div class="amount-wrapper">

                            <div class="amount">
                                <span>Subtotal</span>$<span id="subtotal">2.05</span>
                            </div>

                            <div class="amount">
                                <span>Tax</span>$<span id="tax">0.35</span>
                            </div>

                            <div class="amount">
                                <span>Shipping</span>$<span id="shipping">2.05</span>
                            </div>

                            <div class="amount total">
                                <span>Total</span>$<span id="total">2.05</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Check out -->
    
                <div class="section checkout">

                    <h2 class="section-heading">Payment Details</h2>

                    <div class="payment-form">

                        <div class="payment-method">
                            
                            <button class="method" data-tab-btn="card">
                                <ion-icon name="card"></ion-icon>
                                <span class="span">Credit Card</span>
                                <ion-icon class="checkmark" name="checkmark-circle-outline" data-checkmark-circle></ion-icon>
                            </button>
                            <button class="method" data-tab-btn="qr"> 
                                <ion-icon name="qr-code"></ion-icon>
                                <span class="span">QR Code</span>
                                <ion-icon class="checkmark" name="checkmark-circle-outline" data-checkmark-circle></ion-icon>
                            </button>
                            <button class="method" data-tab-btn="COD">
                                <ion-icon name="wallet"></ion-icon>
                                <span class="span">COD</span>
                                <ion-icon class="checkmark" name="checkmark-circle-outline" data-checkmark-circle></ion-icon>
                            </button>

                        </div>

                        <form class="credit-card payment-tab" action="#" data-payment-tab="card">

                            <div class="cardholder-name">
                                <label for="cardholder-name" class="label-default">Cardholder Name</label>
                                <input type="text" class="input-field" required placeholder="Cardholder Name"
                                 name="cardholder-name">
                            </div>

                            <div class="card-number">
                                <label for="card-number" class="label-default">Card Number</label>
                                <input type="number" class="input-field" required placeholder="Card Number"
                                 name="card-number">
                            </div>

                            <div class="input-wrapper">

                                <div class="expire-date">
                                    <label for="expire-date" class="label-default">Expiration date</label>

                                    <div class="input-flex">

                                        <input type="number" required min="1" name="day" 
                                        max="31" placeholder="31" class="input-field">
                                        /
                                        <input type="number" required min="1" name="month" 
                                        max="12" placeholder="12" class="input-field">

                                    </div>
                                </div>

                                <div class="cvv">
                                    <label for="cvv" class="label-default">CVV</label>
                                    <input type="number" required name="cvv"
                                    class="input-field">
                                </div>
                            </div>

                            <button class="btn btn-fill">
                                <b>Pay</b>$<span class="pay-amount">5.81</span>
                            </button>

                        </form>

                        <form action="#" class="qr payment-tab" data-payment-tab="qr"></form>

                        <form action="#" class="COD payment-tab" data-payment-tab="COD">

                            <div class="address">
                                <label for="address" class="label-default">Address</label>
                                <input type="text" class="input-field" required placeholder="Address"
                                 name="Address">
                            </div>

                            <div class="phone">
                                <label for="phone" class="label-default">Phone Number</label>
                                <input type="number" class="input-field" required placeholder="Phone Number"
                                 name="Phone">
                            </div>

                            <button class="btn btn-fill">
                                <span class="pay-amount">Submit</span>
                            </button>

                        </form>





                    </div>
                </div>


                </div>

            </div>
           </section>



            <!-- 
            - #FOOTER
            -->

            <footer class="footer">

                <div class="footer-top" style="background-image: url('../../assets/images/footer-illustration.png');">

                    <div class="container">

                        <div class="footer-brand">
                            <a href="#" class="logo">M<span class="span">EAT</span></a>
                            <a href="#" class="logo">EAT<span class="span">ER</span></a>
    
                            <p class="footer-text">
                                Financial experts support or help you to to find out which way you can raise your funds more.
                            </p>
    
                            <ul class="social-list">
                                
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-instagram"></ion-icon>
                                    </a>
                                </li>
    
                                <li>
                                    <a href="#" class="social-link">
                                        <ion-icon name="logo-pinterest"></ion-icon>
                                    </a>
                                </li>
    
                            </ul>

                        </div>

                        <ul class="footer-list">
    
                            <li>
                                <p class="footer-list-title">Contact Info</p>
                            </li>

                            <li>
                                <p class="footer-list-item">+1 (062) 109-9222</p>
                            </li>

                            <li>
                                <p class="footer-list-item">baolhn.23ns@vku.udn.vn</p>
                            </li>

                            <li>
                                <address class="footer-list-item">
                                    Số 88, Đường Hải Vân Thượng, Phường Hòa Minh, Quận Liên Chiểu, Đà Nẵng.
                                </address>
                            </li>
                        </ul>

                        <ul class="footer-list">

                            <li>
                                <p class="footer-list-title">Opening Hours</p>
                            </li>

                            <li>
                                <p class="footer-list-item">Monday-Friday: 08:00-22:00</p>
                            </li>

                            <li>
                                <p class="footer-list-item">Tuesday 4PM: Till Mid Night</p>
                            </li>

                            <li>
                                <p class="footer-list-item">Saturday: 10:00-16:00</p>
                            </li>
                        </ul>

                        <form action="" class="footer-form">

                            <p class="footer-list-title">Book a Table</p>

                            <div class="input-wrapper">

                                <input type="text" name="full_name" 
                                required placeholder="Your Name" aria-label="Your Name"
                                 class="input-field">

                                 <input type="email" name="email address" 
                                 required placeholder="Email" aria-label="Email"
                                  class="input-field">

                            </div>

                            <div class="input-wrapper">
                                <select name="total_person" aria-label="Total person" class="input-field">
                                    <option value="person">Person</option>
                                    <option value="2 person">2 Person</option>
                                    <option value="3 person">3 Person</option>
                                    <option value="4 person">4 Person</option>
                                    <option value="5 person">5 Person</option>
                                </select>

                                <input type="date" name="booking_date" aria-label="Reservation date"
                                 required class="input-field">

                            </div>

                            <textarea name="message" aria-label="Message" placeholder="Message" class="input-field"></textarea>

                            <button type="submit" class="btn btn-fill">Book a Table</button>

                        </form>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        
                        <p class="copyright-text">
                            &copy; 2024 <a href="#" class="copyright-link">BVH</a> All Rights Reserved.
                        </p>
                    </div>
                </div>
            </footer>

            <!-- 
            - #BACK TO TOP
            -->

            <a href="#top" class="back-top-btn active" aria-label="Back to top" data-back-top-btn>
                <ion-icon name="chevron-up"></ion-icon>
            </a>


        </article>
    </main>


     <!-- 
     - Custom JS link
     -->
     <script src="../../assets/js/script.js"></script>

     <!--
     - Ionicon Link
     -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    
    
</body>
</html>